

<div id="container">
	<h2>My Account</h2>  <a href="/bright_ideas">Bright Ideas  |  </a> <a href="/">Logout </a>


	<table class="table table-striped table-bordered">
		<thead>
			<h3>Name: <%= current_user.name %>
			<h3>Alias: <%= current_user.alias %> </h3>
			<h3>Email: <%= current_user.email %> </h3>
			<tr>
				<td><h5>Total Number of Posts:</h5></td>
				<td><h5>Total Number of Likes</h5></td>
			</tr>
		</thead>
		<tbody>
            <tr>
                <td><h6><%= current_user.bright_ideas  %></h6></td>
				<td><h6><%= current_user.bright_ideas_liked %></h6></td>
            </tr>
		</tbody>
	</table>


</div>
